<!-- ventas/templates/ventas/ventavehiculo_list.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Lista de VentaVehiculos</title>
</head>
<body>
    <h1>Lista de VentaVehiculos</h1>
    <form method="get">
        <label for="venta">Venta:</label>
        <select name="venta" id="venta">
            <option value="">Todas</option>
            {% for venta in ventas %}
            <option value="{{ venta.id_venta }}" {% if venta.id_venta|stringformat:"s" == venta_id %}selected{% endif %}>
                {{ venta.contrato }}
            </option>
            {% endfor %}
        </select>
        <button type="submit">Filtrar</button>
    </form>
    <a href="{% url 'ventas:ventavehiculo_create' %}">Crear Nueva VentaVehiculo</a>
    <table border="1">
        <thead>
            <tr>
                <th>Venta</th>
                <th>Vehículo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for ventavehiculo in ventavehiculos %}
            <tr>
                <td>{{ ventavehiculo.venta }}</td>
                <td>{{ ventavehiculo.vehiculo }}</td>
                <td>
                    <a href="{% url 'ventas:ventavehiculo_update' ventavehiculo.pk %}">Editar</a>
                    <a href="{% url 'ventas:ventavehiculo_delete' ventavehiculo.pk %}">Eliminar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">No hay registros de VentaVehiculo.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>