<!-- proveedores/templates/proveedores/proveedor_list.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Lista de Proveedores</title>
</head>
<body>
    <h1>Lista de Proveedores</h1>
    <form method="get">
        <input type="text" name="search" value="{{ search_query }}" placeholder="Buscar por nombre, contacto o producto">
        <button type="submit">Buscar</button>
    </form>
    <a href="{% url 'proveedores:proveedor_create' %}">Crear Nuevo Proveedor</a>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Contacto</th>
                <th>Producto</th>
                <th>Condiciones de Pago</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for proveedor in proveedores %}
            <tr>
                <td>{{ proveedor.id_proveedor }}</td>
                <td>{{ proveedor.nombre }}</td>
                <td>{{ proveedor.contacto }}</td>
                <td>{{ proveedor.producto }}</td>
                <td>{{ proveedor.condiciones_pago }}</td>
                <td>
                    <a href="{% url 'proveedores:proveedor_update' proveedor.pk %}">Editar</a>
                    <a href="{% url 'proveedores:proveedor_delete' proveedor.pk %}">Eliminar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">No hay proveedores.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>